/* Küçük ekranlarda ikinci resmi (Photo4) tam genişlik yapalım ve sağa yaslayalım */
@media screen and (max-width: 240px) {
  .img {
    width: 48px;
    float: right;
    position: relative;
    right: 70px;
    /* Sağa yaslamak için sola doğru boşluk bırakıyoruz */
  }
}

/* Küçük ekranlarda ikinci resmi (Photo4) tam genişlik yapalım ve sağa yaslayalım */
@media screen and (min-width: 241px) {
  .img {
    width: 64px;
    float: right;
    position: relative;
    ;
    /* Sağa yaslamak için sola doğru boşluk bırakıyoruz */
  }
}

/* Küçük ekranlarda ikinci resmi (Photo4) tam genişlik yapalım */
@media screen and (min-width: 321px) {
  .img {
    width: 96px;
    float: right;
    position: relative;
    right: 30px;
    ;

  }
}

/* Küçük ekranlarda ikinci resmi (Photo4) tam genişlik yapalım */
@media screen and (min-width: 481px) {
  .img {
    width: 110px;
    float: right;
    position: relative;
    right: 30px;
    ;
  }
}

/* Orta boy ekranlarda ikinci resmin (Photo4) maksimum genişliğini belirleyelim */
@media (min-width: 641px) {
  .img {
    max-width: 208px;
    float: right;
    position: relative;
    left: -35px;
  }
}

/* Büyük boy ekranlarda ikinci resmin (Photo4) maksimum genişliğini belirleyelim ve sağa yaslayalım */
@media (min-width: 768px) {
  .img {
    max-width: 250px;
    float: right;
    margin-left: 650px;
    /* Sağa yaslamak için sola doğru boşluk bırakıyoruz */
  }
}

/* Çok büyük boy ekranlarda ikinci resmin (Photo4) maksimum genişliğini belirleyelim ve sağa yaslayalım */
@media (min-width: 1024px) {
  .img {
    width: 250px;
    float: right;
    margin-left: 750px;
    /* Sağa yaslamak için sola doğru boşluk bırakıyoruz */
  }
}


.girlimg {
  width: 400px;
  margin: auto;
}

.hero-band {
  height: 450px;
  overflow: hidden;
}


.marginsoluation {
  position: relative;
  top: 20px;
  margin: auto;
  display: grid;
  gap: 4px;
}

.photo9 {
  position: relative;
  top: 80px;
  margin: auto;
}

.Slider {
  position: relative;
  top: 60px;

}

.photo9soluation {
  position: relative;
  top: 60px;
  margin: auto;
  display: grid;
  gap: 4px;
}




.empowersoluation {
  position: relative;
  top: 130px;
}

.Photo64 {
  width: 600px;
}

/* Products section */


.benefit {

  position: relative;
  top: 20px;
  left: 100px;
  margin-bottom: 40px;
}

.photo13 {
  max-width: 900px;
  height: auto;
}

.alt {
  background-color: blueviolet;
}

.photoempower {
  width: 220px;
  margin: auto;
  position: relative;
  bottom: 170px;
}

.link {
  font-size: 7px;
  color: white;
  position: relative;
  left: 30px;
  bottom: 56px;

  padding: 5px;
  border-radius: 5px;
  font-weight: 900;
}

.link1 {
  font-size: 7px;
  color: white;
  position: relative;
  left: 24px;
  bottom: 56px;

  padding: 5px;
  border-radius: 5px;
  font-weight: 900;
}

.prh2 {
  width: 600px;
  margin: auto;
  margin-top: 60px;

}

.prh3 {
  width: 900px;
  margin: auto;
  margin-top: 60px;

}

.productHimg {
  position: relative;
  top: 90px;
}

.lastimg {
  margin-left: 60px;
}

/* industries */

.Aboutph2 {
  position: relative;
  top: 10px;
}