nav {
  z-index: 10001
}

.gradiantbg {
  background: linear-gradient(99deg, #EE9AE5 0%, #5961F8 100%);
}

.slick-prev {
  background-color: blueviolet;
}

.slick-next {
  background-color: blueviolet;
}

html {
  scroll-behavior: smooth;
}


.zindex {
  z-index: 10001
}




@media (max-width: 640px) {
  .margin {
    margin-top: 200px;
  }
}

@media (max-width: 768px) {
  .margin {
    margin-top: 200px;
  }
}